@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body{
  background-color: #FFFEFC;
  color: #011936;
  font-family: 'Open Sans', sans-serif;
}

.addressHeader{
  
  height: 40px;
  width: 100%;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 5px;
  background-color: #FFE66D;
}

#headboard{
  font-family: 'Roboto', sans-serif;
  height: 50px;
  width: 100%;
  background-color: #373634;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #FFFEFC;
}

#content{
  
  width: 700px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}

.listEntry{
  
  height:40px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  
}

.addrTab{
  
  font-family: 'Roboto', sans-serif;
  height: 40px;
  width: 80px;
  background-color: #FFE66D;
  float: left;
  font-size: 30px;
  text-align: center;
  padding-top: 5px;
  
}

.prodName{
  
}

.nameWrap{
  
  margin-left: 10px;
  float: left;
  width: 400px;
  
}

#topSpacer{
  
  height: 80px;
  text-align: center;
  
}

a:link {
    color: #011936;
}

a:visited {
    color: #011936;
}

a:hover {
    color: #25CED1;
}

a:active {
    color: #25CED1;
}

.icon {
  background-color: #FFE66D;
  margin-left: 3px;
  height: 40px;
  width: 40px;
}

.icon_inactive {
  
    opacity: 0.2;
  
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}